{% extends "layout.html" %}
{% block body %}
    <h2> {{ inst.obj.id }} / {{ inst.obj.tags.get('Name', 'NONE') }} </h2>
    <hr/>
    <br/>
    {% if inst.obj.state == 'stopped' %}
      <a href="{{ url_for('start_instance', instanceid=inst.obj.id) }}">
        {{ inst.obj.state }}
      </a>
    {% else %}
      {{ inst.obj.state }}
    {% endif %}
    <br/><br/>
    {% if inst.hibernation.hibernating == 1 %}
    <form method=post action="{{ url_for('tag_instance', instanceid=inst.obj.id) }}">
    Hibernation On!:<br/>
        Start: <input name="hibstart" type=text size=4 value="{{ inst.hibernation.start }}"/><br/>
        Stop: <input name="hibstop" type=text size=4 value="{{ inst.hibernation.stop }}"/><br/>
    <br/>
        Off days: 
        {% for i in [ '0', '1', '2', '3', '4', '5', '6' ] %}
          {{ i }}:<input type=checkbox name="{{ i }}" {{ 'checked' if i in inst.hibernation.days }}/>
        {% endfor %}
        </br>
        <input type=submit value="update tags"/>
    </form>
    {% else %}
    Hibernation Off.<br/>
    {% endif %}
{% endblock %}
