{% extends "layout.html" %}
{% block body %}
    <h2> {{ inst.obj.id }} / {{ inst.obj.tags.get('Name', 'NONE') }} </h2>
    <hr/>
    <br/>
    {% if inst.obj.state == 'stopped' %}
      <a href="{{ url_for('start_instance', instanceid=inst.obj.id) }}">
        {{ inst.obj.state }}
      </a>
    {% else %}
      {{ inst.obj.state }}
    {% endif %}
    <br/><br/>
    {% if inst.hibernation.hibernating == 1 %}
    Hibernation On!:<br/>
        Start:    {{ inst.hibernation.start }}<br/>
        Stop:     {{ inst.hibernation.stop }}<br/>
    <br/>
        Off days: {{ inst.hibernation.days }}<br/>
    {% else %}
    Hibernation Off.<br/>
    {% endif %}
{% endblock %}
